@font-face 
    font-family: "PPTSans"
    src: url("../fonts/PTSans-Regular.ttf")
    font-weight: regular
    font-style: normal

@font-face 
    font-family: "PPTSans"
    src: url("../fonts/PTSans-Bold.ttf")
    font-weight: bold
    font-style: normal

html
    font-family: "PPTSans"
    font-weight: regular
    scroll-behavior: smooth


*
    box-sizing: border-box
    
body
    margin: 0
    background-color: #fbfbfb

.header
    top: 0
    height: 60px
    background: #0F1C23
    &__container
        height: 60px
        display: flex
        flex-direction: row
        justify-content: space-around
        width: 1300px
        margin: 0 auto
    &__container-logo
        width: 100%
    &__logo
        // margin-left: 150px
        margin-right: 300px
        width: 60px

.form-control
    margin-bottom: 10px
    background: #ededed
    color: #434343
    // background: rgba(0,0,0,0.3);
