{% extends 'actions/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'actions/css/base.css' %}" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="{% static 'actions/css/login.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block title %} {{title}} {% endblock %}

{% block content %}

<div class="login">
    <h1></h1>
<form method="post">
    {% csrf_token %}

    {{form.username}}
    {{form.password}}
<!--    <button type="button" class="btn btn-primary">Primary</button>-->
    <button type="submit" class="btn btn-primary btn-block btn-large">Log in</button>
</form>
</div>

{% endblock %}
