{% extends 'actions/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'actions/css/public_link.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block title %} {{title}} {% endblock %}

{% block content %}

<div class="public_link">
    <form method="post">
        {% csrf_token %}

        <div class="form__public_key">
        {{form.public_key}}
        <a href="{% url 'actions:clear_link' %}"><button type="button" class="btn btn-primary btn-x">X</button></a>
        <button class="btn btn-primary btn-block btn-large" name="enter_public_key" type="submit">Enter</button>
        <!-- <button type="submit" class="btn btn-primary" -->
            <!-- style="--bs-btn-padding-y: .15rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Enter</button> -->
        </div>
        
        <div class="public_link__data public_resources">
            <div class="public_resources__path">
                <div class="public_resources__path_str">{{public_resources_path}}</div>
                <button class="btn btn-level-up" name="level_up" type="submit">&#8593</button>
            </div>
            <table class="public_resources__table resource" style="width:100%">
                {% for pr in public_resources %}
                <tr>
                    <td class="resource__input">
                        <input id="id_resource" type="checkbox" name="{{pr.name}}" value="1"
                            data-price="{{pr.type}}" 
                            onclick="WashDis(1, 6)">
                    </td>
                    {% if pr.type == 'dir' %}
                        <td class="resource__type">&#128193;</td>
                        <td><label for="id_resource"><a href="{% url 'actions:public_key' public_key pr.path %}">{{pr.name}}</a></label></td>
                    {% else %}
                        <td class="resource__type">&#128196;</td>
                        <td><label for="id_resource">{{pr.name}}</label></td>
                    {% endif %}
                    
                </tr>
                {% endfor %}
            </table>
            <div class="public_resources__downloads">
                <button class="btn btn-primary btn-block btn-downloads" name="download_selected" type="submit">Скачать выбранные файлы</button>
                <button class="btn btn-primary btn-block btn-downloads" name="download_all" type="submit">Скачать одним архивом</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block script %}
    {% if error %}
        <script>
            setTimeout(() => {  alert("К сожалению указанный город не удалось определить"); }, 200);
        </script>
    {% endif %}
{% endblock script %}
